# Entorno y credenciales
.env

# Python (Archivos compilados)
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Archivos multimedia subidos por usuarios
media/fotos_patrimonio/

# Carpetas de IDEs (Opcional, por si usas VS Code o PyCharm)
.vscode/
.idea/

*.json
.AGENTS.md 
