/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  rgba(53, 59, 65, 0.502);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.lightbox-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 80vh;
 
}

.lightbox-contenido {
    width: 80%;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    background-color: #353b4180;
    
    flex: 1;

}
.lightbox-contenido img{
    max-width: 100%;
    max-height: 80vh;
}

.lightbox-texto {
    border-radius: 10px;
    height: 80vh;
    max-width: 20%;
    background-color: #353b4180;
    color: white;
    text-align: center;
    padding: 10px;
    flex: 1;
}

.cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
